@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    cursor: pointer;
}

i{
    color: black;
}

i:hover{
    color:blueviolet;
}

img{
    border-radius: 50%;
    border: 1px solid #fff;
}

img.logo{
    width: 44px;
    height: 44px;
    border: 2px solid white;
}

img.review-img{
    width: 158px;
    height: 158px;
    border: 3px solid black;
    margin-bottom: 31px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 54px;
    font-weight: 800;
}

/* Nav */

.nav{
    width: 100%;
    display: flex;
    padding: 17px 5%;
    gap: 35px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(190, 173, 250, 1);
}

ul.nav-links{
    display: inline-flex;
    gap: 65px;
    list-style-type: none;
}

.dropdown{
    display: none;
    color: white;
}

.dropdown:hover{
    color: black;
}

i.fa-cart-shopping{
    font-size: 30px;
    justify-self: flex-start;
}


ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

ul li a:hover{
    color: black;
}

.search-input{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 20px;
    padding: 8px 25px;
}

.search-input input{
    border: none;
    outline: none;
}

/* Hero */
.hero{
    padding: 87px 30% 99px 30%;
    background-color: rgba(142, 143, 250, 1);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .title{
    line-height: 81px;
    margin-bottom: 20px;
}

button{
    visibility: hidden;
    padding: 10px;
}

.sub-title{
    font-weight: 600;
    font-size: 24px;
    font-style: italic;
    color: #fff;
    line-height: 36px;
    margin-bottom: 10px;
}

p.text{
    font-size: 22px;
    font-weight: 400;
}

/* Banner */
.banner{
    padding: 85px;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .title{
    color: white;
    font-style: italic;
    font-weight: 500;
}

/* Reviews */
.reviews{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 52px 58px 120px 58px;
    background-color: rgba(199, 128, 250, 1);
}

.reviews .title{
    margin-bottom: 78px;
}

.review-container{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.review-box{
    padding: 20px 35px 52px 35px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
}

.review-desc{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    margin-bottom: 12px;
}

.reviewer{
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1024px){

    .hero{
        padding: 10%;
    }

    .nav{
        justify-content: center;
    }

    .search-input input{
        width: 70%;
    }

    ul.nav-links.lg{
        display: none;
    }

    ul.nav-links{
        margin-top: 1.5rem;
        left: 0;
        background-color: rgba(190, 173, 250, 1);
        padding: 1rem;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 10px 15px 0px #0000001a;
        display: none;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .dropdown{
        display: inline-flex;
        cursor: pointer;
        font-weight: 700;
    }

    .dropdown:hover ul.nav-links{
        display: block;
    }

    .dropdown:hover ul.nav-links li{
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid white;
    }
    
    .dropdown:hover ul.nav-links li:last-child{
        border-bottom: none;
    }

    button{
        visibility: visible;
    }

    .review-container{
        flex-wrap: wrap;
    }
}